.todo-list {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.todo-list input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #ff1a1a;
}
/* footer */
.logo {
    cursor: pointer;
    transition: 0.2s;
    transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 2s ease;
    transform: scale(1);
    background: linear-gradient(to bottom right, 105, 165, 214, 105, 165, 214);
  }
  .logo:hover {
    transform: scale(1.9) translateZ(20px);
  }

/* /fin/footer  */
